<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>v1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.corpnewt.USBMap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBMap</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>iMac18,1-XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:20:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCISPT</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>
				GQAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>HS01</key>
					<dict>
						<key>Comment</key>
						<string>BACK_L2</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>HS02</key>
					<dict>
						<key>Comment</key>
						<string>BACK_L1</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
					<key>HS03</key>
					<dict>
						<key>Comment</key>
						<string>FRONT_R</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>HS04</key>
					<dict>
						<key>Comment</key>
						<string>BACK_R2</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
					<key>HS05</key>
					<dict>
						<key>Comment</key>
						<string>BACK_R1</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
					</dict>
					<key>HS06</key>
					<dict>
						<key>#port</key>
						<data>
						BwAAAA==
						</data>
						<key>UsbConnector</key>
						<integer>9</integer>
					</dict>
					<key>HS07</key>
					<dict>
						<key>Comment</key>
						<string>TYPE_C</string>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>port</key>
						<data>
						CQAAAA==
						</data>
					</dict>
					<key>HS08</key>
					<dict>
						<key>Comment</key>
						<string>FRONT_L</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DQAAAA==
						</data>
					</dict>
					<key>SS01</key>
					<dict>
						<key>Comment</key>
						<string>BACK_L2</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						EQAAAA==
						</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>Comment</key>
						<string>BACK_L1</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						EgAAAA==
						</data>
					</dict>
					<key>SS03</key>
					<dict>
						<key>Comment</key>
						<string>FRONT_R</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						EwAAAA==
						</data>
					</dict>
					<key>SS04</key>
					<dict>
						<key>Comment</key>
						<string>BACK_R2</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						FAAAAA==
						</data>
					</dict>
					<key>SS05</key>
					<dict>
						<key>Comment</key>
						<string>BACK_R1</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						FQAAAA==
						</data>
					</dict>
					<key>SS06</key>
					<dict>
						<key>#port</key>
						<data>
						FgAAAA==
						</data>
						<key>UsbConnector</key>
						<integer>9</integer>
					</dict>
					<key>SS07</key>
					<dict>
						<key>Comment</key>
						<string>FRONT_L</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						FwAAAA==
						</data>
					</dict>
					<key>SS08</key>
					<dict>
						<key>Comment</key>
						<string>TYPE_C</string>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>port</key>
						<data>
						GAAAAA==
						</data>
					</dict>
					<key>SS09</key>
					<dict>
						<key>Comment</key>
						<string>TYPE_C</string>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>port</key>
						<data>
						GQAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac18,1</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
